.results-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: var(--borderWidth);
    background: rgb(248, 236, 167);
    padding: 16px;
    margin-top: 24px;
    opacity: 1;
    animation: fadeInFromNone 2s ease-in-out;

    &_item {
        text-align: start;
    }

    &.disable {
        display: none;
        border: none;
        background: transparent;
        opacity: 0;
    }
}

@keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }
  
    1% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }